* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.enemy-box {
  border: 1px solid #000;
  position: relative;
  background-color: black;
  display: flex;
}

.enemy {
  border: 3px solid red;
  background-color: salmon;
  color: red;
  width: 4rem;
  height: 4rem;
  margin: 2rem;
}
